<br>
<font size="+2"> In this notebook, we will be working on questions in the Colab Notebooks section in Module 1. </font>
<br><br>

# Questions on Accessing Data



Let's take a break from learning basic pandas commands and have you practice what you've learned so far. To do this, we will work in this new Colab notebook.
<br><br>
In this notebook, you will read the `city_temperature.csv` datafile; the format of this datafile is the same as the temperature datafile we were using in the video, it just has many more data points because it includes temperature data for the entire world (i.e. rows).

<font color='#FF4500' size="+2"> To set up your DataFrame for these questions, run the cell below. </font>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

import os
os.chdir("/content/drive/My Drive/AIMOOC")

import pandas as pd
df2 = pd.read_csv("/content/drive/My Drive/AIMOOC/Modules/Module1/Data/city_temperature.csv")

## Question 1

What's the name of the country at row number 1000000?

In [ ]:
# Your code here

## Question 2

What is the name of the city that comes last alphabetically?

In [ ]:
# Your code here

## Question 3

How many data points are there in the US?

In [ ]:
# Your code here

## Question 4

What is the highest temperature in the dataset?

In [ ]:
# Your code here

## Question 5

What is the lowest temperature in the US? This dataset uses -99 as the temperature for missing values. Find the minimum temperature ignoring -99.

In [ ]:
# Your code here

## Question 6

What is the average August temperature in Beijing?

In [ ]:
# Your code here

## Question 7

What is the city with the highest temperature?

In [ ]:
# Your code here

## Question 8

In which year was the temperature in May the highest?

In [ ]:
# Your code here

In which city was the temperature in May the highest?

In [ ]:
# Your code here (hint: make use of the code from the previous question)